.btn {
  padding: 12px 24px;

  background: #005;
  font-weight: bold;
  font-size: 20px;
  border: none;
  min-width: 100px;
  border-left: 6px solid black;
  border-right: 6px solid black;

  color: black;
}

.btn-red {
  background: transparent;

  &:hover {
    background: hsl(0, 80, 50);
  }
}

.btn-green {
  background: transparent;

  &:hover {
    background: hsl(120, 80, 50);
  }
}

.btn-orange {
  background: transparent;

  &:hover {
    background: hsl(35, 80, 50);
  }
}
